body {
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contact {
    width: 80%;
    display: grid;
    margin: auto;
}

.contactHeader {
    text-align: center;
}


.addContact {
    float: right;
    margin: 5px;
}